@font-face {
    font-family: 'MathJax'; /*a name to be used later*/
    src: url(MathJax_Main-Regular.otf);
}

#calculator
{
    background-color:hsl(227, 13%, 50%) ;
    max-width: 500px;
    overflow: hidden;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: hsl(227, 13%, 40%);
}

body
{
    margin: 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: hsl(236, 17%, 90%);
    min-height: 100vh;
}



#displayRPN
{
    width: 500px;
    height: 60px;
    background-color: hsl(227, 13%, 55%);
    border: #565878;
    border-width: 20px;
    overflow: scroll;
    color:hsl(227, 13%, 75%);
    font-size: 2rem;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: MathJax;
}

#display
{
    width: 500px;
    height: 100px;
    background-color: hsl(227, 13%, 60%);
    border: #565878;
    border-width: 20px;
    overflow: scroll;
    color:antiquewhite;
    font-size: 2.5rem;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#keys
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.clear
{
    background-color: hsl(275, 16%, 57%) ;
}

.clear:hover
{
    background-color: hsl(275, 16%, 67%) ;
}

.clear:active
{
    background-color: hsl(275, 16%, 77%) ;
}

.evaluate
{
    background-color: hsl(355, 37%, 58%) ;
}

.evaluate:hover
{
    background-color: hsl(355, 37%, 68%) ;
}

.evaluate:active
{
    background-color: hsl(355, 37%, 78%) ;
}

.operator
{
    background-color: #3d355c ;
}

.operator:hover
{
    background-color: hsl(252, 27%, 38%) ;
}

.operator:active
{
    background-color: hsl(252, 27%, 48%) ;
}

.cute
{
    background-color:hsl(291, 41%, 27%);
    font-weight: bold;
    color:#793885 
}
.cute:hover
{
    background-color:hsl(291, 41%, 37%);
    font-weight: bold;
    color:hsl(291, 41%, 47%) 
}

.cute:active
{
    background-color:hsl(291, 41%, 47%);
    font-weight: bold;
    color:hsl(291, 41%, 57%) 
}

.wide3
{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 330px;
}

button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    background-color:hsl(236, 17%, 40%);
    color:antiquewhite;
    font-size: 2.5rem;
    cursor: pointer;
}

button:hover
{
   background-color:hsl(236, 17%, 50%);
}

button:active
{
   background-color:hsl(236, 17%, 55%);
}